{% extends "/Principal/base.html" %}
{% block contenido %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Medico/configuraciones.css') }}">

<div class="busqueda">
    <form action="{{ url_for('ver_hc_medico')}}" method="POST">
        <label for=""  >ID PACIENTE</label>
        <input type="text"  id="id_paciente" name="id_paciente" style="width: 100%;"></input>
        <button  class="button"   type="submit">aqui</button>
    </form>
</div>
<!---bloque de  datos  personales-->
<div  class="titulos">
    <h1>Historias Clinicas</h1>
    <hr>
</div>

<div class="text_historias">
    <table class="table"  style="margin: 0 auto;">
        <thead>
            <tr>
                <th>Medico</th>
                <th>Paciente</th>
                <th>especialidad</th>
                <th>fecha</th>
                <th>hora</th>
                <th>Comentario</th>
            </tr>
        </thead>
        <tbody>
            {% for usuarios in usuarios %}
            <tr>
                <td>{{usuarios[1]}}</td>
                <td>{{usuarios[0]}}</td>
                <td>{{usuarios[2]}}</td>
                <td>{{usuarios[3]}}</td>
                <td>{{usuarios[4]}}</td>
                <td>{{usuarios[5]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table><br><br>
        
    
    
</div>

{% endblock %}